#服务设置
server:
  port: 82
  servlet:
    context-path: /shop
#数据源
spring:
  datasource:
    username: root
    password: Yhn980313@
    url: jdbc:mysql://39.96.82.21:3306/shop?useUnicode=true&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: org.apache.tomcat.jdbc.pool.DataSource
  servlet:
    multipart:
      max-file-size: 20MB

#mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.xupt.beans